.boxForm{
    background-color: var(--grey);
    background-image: none;
    padding: 1.4rem;
    

}

.inActivity{
    height: 1rem;
    background-image: none;
    background-color: var(--grey);
    color:black;
}
.inActivity::placeholder{
    color:aliceblue;
}