.boxListToDos{
    display: flex;
    background-color: var(--grey);
    background-image: none;
    padding: 1.4rem;
    width: 50%;
}
.txtListItem{
    background-image: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

}
.imgEditar, .imgBorrar{
    background-image: none;
    width: 1.4rem;
    height: 1.4rem;
}
.imgEditar{

}
.imgBorrar{

}